<div class="cal-div">
  <div class="row mb-15">
    <p class="month">{{this.month.name}}</p>
    <div class="week-div">
      <fa-icon [icon]="arrowLeft"></fa-icon>
      <p>Oct 11-17</p>
      <fa-icon [icon]="arrowRight"></fa-icon>
    </div>
  </div>
  <div class="row">
    <div class="day" *ngFor="let day of month.days" [class.selected]="day.date === selectedDate" (click)="selectDay(day.date)">
      <p class="day_name">{{day.day}}</p>
      <p class="day_date">{{day.date}}</p>
      <span class="dot" *ngIf="day.date === selectedDate"></span>
    </div>
  </div>
</div>
