@import "src/styles/index";

.cal-div {
  width: 380px;
  padding: 15px 10px;
  background-color: $light-gray-color;
  border-radius: 10px;

  p {
    margin: 0;
  }
}

.week-div {
  display: flex;
  flex-direction: row;
  color: $dark-green-color;

  p {
    margin: 0 5px;
  }
}

.month {
  color: $dark-green-color;
}

.row {
  display: flex;
  justify-content: space-between;
}

.mb-15 {
  margin-bottom: 15px;
}

.day {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px 14px;
  text-align: center;
  justify-content: center;
  transition: 300ms ease-in-out all;

  &_name {
    color: rgba($dark-gray-color, 60%);
  }

  &_date {
    color: $dark-gray-color;
    font-weight: 800;
  }
}

.selected {
  background-color: rgba($dark-green-color, 10%);
  border-radius: 10px;

  .day_name {
    transition: 300ms ease-in-out all;
    color: $dark-gray-color;
  }
}
.dot {
  display: inline-block;
  background-color: $purple-color;
  border-radius: 50%;
  width: 3px;
  height: 2px;
  margin: auto;
}

.ng-fa-icon {
  cursor: pointer;
}
