$purple-color: #3A4BA6;
$dark-green-color: #084734;
$dark-red-color: #B21001;
$dark-gray-color: #263238;
$light-gray-color: #F9F9F9;
$black-color: #000000;
$white-color: #FFFFFF;
$disabled-bg-color: rgba(#382630, 5%);
$border-light: rgba($dark-gray-color, 25%)
