@import "src/styles/index";

.not-div {
  width: 380px;
  background-color: $light-gray-color;
  border: none;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.col-1 {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    color: $dark-green-color;
  }

  p {
    font-size: 14px;
  }

  button {
    width: 135px;
    background-color: $purple-color;
    border: none;
    border-radius: 18px;
    padding: 10px 16px;
    color: $white-color;
    outline: none;
    cursor: pointer;
    transition: 50ms;

    &:active {
      transform: scale(0.9);
    }
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 103px;
  height: 105px;
  background-color: rgba($dark-green-color, 10%);

  p {
    font-size: 12px;
    word-spacing: 5px;
    text-align: center;
    color: rgba($dark-gray-color, 82%);
    opacity: 82%;
    font-weight: lighter;
    margin: auto;
  }
}
