.not-div {
  font-family: 'Roboto', sans-serif;
  width: 380px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  h3 {
    margin: 16px 0 0;
    color: #084734;
  }
  button {
    width: 135px;
    background-color: #3A4BA6;
    border: none;
    border-radius: 18px;
    padding: 10px 16px;
    color: white;
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 103px;
  height: 105px;
  background-color: #0847343d;
  p {
    font-size: 12px;
    word-spacing: 5px;
    text-align: center;
    color: #263238;
    opacity: 82%;
    font-weight: lighter;
    margin: auto;
  }
}
